h1{
    text-align: center;
    color: #6d6363a4;
}
div{
    margin-left: 41.5%;
    height: 0%;
}
button{
    margin-left:41.5%;
    border-radius: 10px;
}
p{
    margin-left: 36.5%;
}

#principal{
    border-radius: 15px;
}

#yrs{
    border-radius: 15px;
}
